$table-cell-padding: 8px;
$table-border-color: #cccccc;
$table-footer-topspace: 10px;

* {
  margin: 0;
  padding: 0;
}

.test-table {

  td {
    white-space: nowrap;
  }

  td.action-column {
    border: 1px solid rgb(221, 221, 221);
  }
}
